
html {
	height:100%;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9edf2+40,edf7ff+100 */
	background: #d9edf2; /* Old browsers */
	background: -moz-linear-gradient(top, #d9edf2 40%, #edf7ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d9edf2 40%,#edf7ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d9edf2 40%,#edf7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9edf2', endColorstr='#edf7ff',GradientType=0 ); /* IE6-9 */
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    max-width: 90%;
    height: auto;
    width: auto\9; /* ie8 */
}